In [47]:
a = [10,20,30]
b = a
a[1] = 40
print(a)
print(b)

[10, 40, 30]
[10, 40, 30]

In [48]:
a = [10,20,30]
b = a.copy()
a[1] = 40
print(a)
print(b)

[10, 40, 30]
[10, 20, 30]

In [1]:
#read and write functions
f = open("CountriesList.txt", 'r')

In [2]:
f

In [3]:
data = f.read()

In [4]:
print(data)

Africa
Afghanistan
India
Angola

In [5]:
data = f.readlines(0)

In [6]:
print(data)

[]

In [7]:
for i in data:
    print(i)

In [8]:
f = open('NewFile.txt', 'w')

In [9]:
listt = ['Africa', 'India', 'Afghanistan', 'Angola']

In [10]:
str(listt)

"['Africa', 'India', 'Afghanistan', 'Angola']"

In [11]:
f.write(str(listt))

44

In [12]:
for i in listt:
    f.write(i+'\n')

In [13]:
f = open('NewFile.txt', 'a')

In [14]:
listt2 = ['Aus', 'Albania', 'Italy', 'Paris', 'Argentina', 'Russia']

In [15]:
for i in listt2:
    f.write(i+'\n')

In [16]:
f.close()

In [17]:
import os

In [21]:
print(os.listdir('Sample')) #Will not list out subdirectories

['1.txt', '2.txt', '3.txt', 'Sample2']

In [22]:
for (root,dirs,files) in os.walk('Sample'):
    print(root)
    print(dirs)
    print(files)
    print('______')

Sample
['Sample2']
['1.txt', '2.txt', '3.txt']
______
Sample\Sample2
[]
['4.txt', '5.txt', '6.txt']
______

In [28]:
a=(1,2,3)
print(a[0])

1

In [26]:
b=(10,20,30)
print(b)
print(a+b)

(10, 20, 30)
(1, 2, 3, 10, 20, 30)

In [44]:
c=a+b
print(c)
c.append(40)# cannot append

(1, 2, 3, 10, 20, 30)

AttributeError: 'tuple' object has no attribute 'append'

In [46]:
#dataframe operations
dic = {}
e=('AI','Academy')
dic[1]='AI'
dic[2]=['Academy','Deloitte',"JIgsaw"]
print(dic)

{1: 'AI', 2: ['Academy', 'Deloitte', 'JIgsaw']}

In [42]:
import pandas as pd

BGN_Holidays = pd.read_excel('BGN.xlsx')
BGN_Holidays

     Year Month  Day                                Name
0    2021   SEP    6            National Unification Day
1    2021   SEP   22                    Independence Day
2    2021   DEC   24                       Christmas Eve
3    2021   DEC   27                 Mon after Christmas
4    2021   DEC   28                           Christmas
..    ...   ...  ...                                 ...
120  2031   SEP    8  Mon after National Unification Day
121  2031   SEP   22                    Independence Day
122  2031   DEC   24                       Christmas Eve
123  2031   DEC   25                           Christmas
124  2031   DEC   26                           Christmas

[125 rows x 4 columns]

In [53]:
data = {'cars':['BMW','Audi','Volvo'],
        'type':['SUV','LMV','Truck'], 
        'color':['Red','Blue','Green']}
df = pd.DataFrame(data)
df

    cars   type  color
0    BMW    SUV    Red
1   Audi    LMV   Blue
2  Volvo  Truck  Green

In [58]:
df.to_excel('to_excel\Cars.xlsx')
df.to_csv('to_excel\Cars.csv')

In [60]:
test_df = pd.read_csv('to_excel\Cars.csv', index_col=0)
test_df

    cars   type  color
0    BMW    SUV    Red
1   Audi    LMV   Blue
2  Volvo  Truck  Green

In [75]:
import numpy as np
from sklearn.datasets import load_iris # directly load from sklearn
iris = load_iris()
iris_df = pd.DataFrame(data= np.c_[iris['data'], iris['target']],
                     columns= iris['feature_names'] + ['target'])
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [79]:
iris = pd.read_csv('Iris\Iris.csv')
iris

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [82]:
iris[iris['Species'] == 'Iris-setosa']['PetalLengthCm'].mean()

1.464

In [85]:
iris[iris['Species'] == 'Iris-setosa'].mean()

Id               25.500
SepalLengthCm     5.006
SepalWidthCm      3.418
PetalLengthCm     1.464
PetalWidthCm      0.244
dtype: float64

In [86]:
iris[iris['Species'] == 'Iris-virginica'].mean()

Id               125.500
SepalLengthCm      6.588
SepalWidthCm       2.974
PetalLengthCm      5.552
PetalWidthCm       2.026
dtype: float64

In [87]:
iris[iris['Species'] == 'Iris-versicolor'].mean()

Id               75.500
SepalLengthCm     5.936
SepalWidthCm      2.770
PetalLengthCm     4.260
PetalWidthCm      1.326
dtype: float64

In [89]:
setosa_upper = 3
virginica_upper = 6
versicolor_upper = 5

In [94]:
iris[(iris['PetalLengthCm'] > setosa_upper) & (iris['PetalLengthCm'] <= virginica_upper)]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
50,51,7.0,3.2,4.7,1.4,Iris-versicolor
51,52,6.4,3.2,4.5,1.5,Iris-versicolor
52,53,6.9,3.1,4.9,1.5,Iris-versicolor
53,54,5.5,2.3,4.0,1.3,Iris-versicolor
54,55,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [99]:
iris_setosa = iris[iris['Species'] == 'Iris-setosa']
iris_setosa.to_excel('Iris\Iris-setosa.xlsx')
iris_virginica = iris[iris['Species'] == 'Iris-virginica']
iris_setosa.to_excel('Iris\Iris-virginica.xlsx')
iris_versicolor = iris[iris['Species'] == 'Iris-versicolor']
iris_setosa.to_excel('Iris\Iris-versicolor.xlsx')

In [100]:
iris_concat = pd.concat([iris_setosa,iris_virginica,iris_versicolor])
iris_concat

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

In [101]:
iris_concat.drop_duplicates()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
95,96,5.7,3.0,4.2,1.2,Iris-versicolor
96,97,5.7,2.9,4.2,1.3,Iris-versicolor
97,98,6.2,2.9,4.3,1.3,Iris-versicolor
98,99,5.1,2.5,3.0,1.1,Iris-versicolor
99,100,5.7,2.8,4.1,1.3,Iris-versicolor

In [102]:
iris_concat.sort_values(by = 'SepalLengthCm')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
13,14,4.3,3.0,1.1,0.1,Iris-setosa
8,9,4.4,2.9,1.4,0.2,Iris-setosa
38,39,4.4,3.0,1.3,0.2,Iris-setosa
42,43,4.4,3.2,1.3,0.2,Iris-setosa
41,42,4.5,2.3,1.3,0.3,Iris-setosa
...,...,...,...,...,...,...
117,118,7.7,3.8,6.7,2.2,Iris-virginica
122,123,7.7,2.8,6.7,2.0,Iris-virginica
118,119,7.7,2.6,6.9,2.3,Iris-virginica
135,136,7.7,3.0,6.1,2.3,Iris-virginica
131,132,7.9,3.8,6.4,2.0,Iris-virginica

In [9]:
#inline functions
age = [10,20,30,33,40]
age_sq = list(map(lambda i:i**2, age))
age_sq

[100, 400, 900, 1089, 1600]